html{ font-size: 75%; font-family: "microsoft yahei" ,arial;}
html,body{ height: 100%;}
.header{ background: url(../image/header.png) no-repeat; background-size: 100%; min-height: 4.8rem; position: relative;}
a{ text-decoration: none; color: #5e5f61; outline: none; }
a:active{ background-color:transparent!important;}
a:focus{ outline: none;}
b{ font-weight: normal;}
p{ margin: 0;}
img{ max-height: 100%; max-width: 100%;}
.list-unstyled{ margin: 0; list-style: none; padding-left: 0;}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1459907750_4571455.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1459907750_4571455.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1459907750_4571455.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1459907750_4571455.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1459907750_4571455.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:iconfont;font-size:.9rem;font-style:normal;}                   
.header .shop-title{ padding: .3rem 1rem; text-align: center; color: #fff; font-size: .6rem; position: relative;}
.header .shop-title a{ position: absolute; right: .5rem; top: .2rem; text-decoration: none; }
.header .shop-title a i.iconfont{ font-size: .8rem; color: #fff; }
section .make{ padding: 0 .5rem; background: #fff8ba; position: relative;}
section .make i.iconfont{ font-size: .8rem; color: #fe7620; border: none;}
body #wrap #front footer #keyBoard .speak i{ line-height: 1rem; height: 1rem; border-right: none; color: #fe7620;}
section .make .speak{ width: 10%; float: left;}
section .make .text-warp{ width: 80%; height:1rem;overflow: hidden; position: relative; }
section .make .text-warp div{ color: #3d3e3f; position: absolute; left: 0; top: 0; white-space:nowrap; margin-top: .35rem; }
.header .money{ position: absolute; top: 3rem; right: 1rem; color: #fff; font-size: 1.2rem;}
.number{ padding-top: .5rem; width: 100%;  background: #f4f5f9; position: absolute; bottom: 0;}
.number li{ width: 33.3%; float: left;}
.number li button{ width: 100%; height: 5rem; font-size: 1.4rem; outline: none; border: none; background: #fff; border-right: .1rem solid #C0C0C0; border-bottom: .1rem solid #C0C0C0;}
.number li button.last{ border-right: none;}
.number li button.bg{ background: #ededed; color: #5e5f61}
.number li button.bg.active{ background: #2db3e6;}
.number li button.bg.active { color: #fff;}
.number li button.bg{ display: block;}
section .amount { text-align: left;}
/*弹出层*/
.layer{ width: 100%; height: 100%; background: rgba(0,0,0,.5); position: fixed; z-index: 5; top: 0; left: 0; display: none;}
.layer .layer-main{ width: 80%; height: 12rem; background: #fff; border-radius: .5rem; left: 50%; margin-left: -40%; position: absolute; top: 50%; margin-top: -6rem;}
.layer .layer-top{ text-align: center; border-bottom: .1rem solid #fe9552; padding: .5rem 0;}
.layer .layer-porp{ text-align: center; padding-top: 1rem; color: #fe9552;}
.layer .layer-porp .but{ display: block; width: 10rem; padding: .5rem 0; text-align: center; color: #fe9552; border-radius: 2rem; border: .1rem solid #fe9552; margin: 2rem auto 0;}
/**/
div, p, a, span, body, dl, dt, dd, header, footer, img, section, time, h1, h2, em, article, h3, h4, ul, li, label, ol, h5, i, var {
    word-wrap:break-word;
    word-break:break-all;
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    outline:none;
    font-style:normal;
    font-weight:normal
}
body, td, input, textarea, option, select, button {
    -webkit-text-size-adjust:none
}
html, body {
    height:100%
}
* {
    -webkit-tap-highlight-color:transparent;
    -webkit-focus-ring-color:transparent;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
*:focus, *:active {
    outline:none
}
body {
    font-size:12px;
    line-height:1.2;
    overflow-x:hidden;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}
ul, li, ol {
    list-style:none
}
a, a:link, a:visited, a:hover {
    text-decoration:none;
    color:#fff
}
a img, img {
    border:none
}
.fl {
    float:left
}
.fr {
    float:right
}
.clearfix {
    content:"";
    clear:both;
    overflow:hidden
}
.border {
    display:block;
    height:.026rem;
    background-color:#efefef
}
.blank {
    height:.26rem;
    background-color:#f7f7f7
}
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
body {
    background-color:#2b303d;
    -webkit-text-size-adjust:100%
}
body #wrap {
    max-width:10rem;
    margin:0 auto;
    width:100%;
    height:100%;
    position:relative
}
body #wrap #front {
    width:100%;
    height:100%;
    position:relative
}
body #wrap #front header {
    text-align:center;
    position: relative;
}
body #wrap #front header .logo {
    display:inline-block;
    min-width:5rem;
    max-width:8rem;
    height:2.5rem;
    padding:.625rem 0;
    margin:0 auto;
    position:relative
}
body #wrap #front header .logo img {
    width:1.4375rem;
    height:1.4375rem;
    float:left;
    vertical-align:middle
}
body #wrap #front header .logo h1 {
    padding:.1875rem 0 .1875rem .4rem;
    font-size:.4375rem;
    color:#2f323a;
    white-space:nowrap;
    text-align:left;
    overflow:hidden;
    text-overflow:ellipsis
}
body #wrap #front header .logo h2 {
    padding-left:.4rem;
    font-size:.375rem;
    color:#606470;
    white-space:nowrap;
    text-align:left;
    overflow:hidden;
    text-overflow:ellipsis
}
body #wrap #front header .logo .tips {
    position:absolute;
    top:.5rem;
    right:-1.875rem;
    width:.625rem;
    height:.625rem;
    line-height:.625rem;
    background-color:#D8D8D8;
    color:#f5f5f5;
    border-radius:.625rem;
    text-align:center
}
body #wrap #front section div.amount {
    background-color:#fff;
    height:1.625rem;
    line-height:1.225rem;
    padding:.2rem .4rem;   
    width:90%;
    margin:0 auto;
    font-size:.46875rem;
    color:#606470;
    margin-bottom:1rem;
    margin-top:1rem;
    border-radius:.125rem
}
body #wrap #front section div.amount p {
    font-size:.625rem;
    color:#2F323A
}
body #wrap #front section div.amount p #amount {
    font-size:.8rem;
    vertical-align:baseline;
    font-weight:700
}
body #wrap #front section div.discount {
    border-bottom:none
}
body #wrap #front section div.origin p {
    color:#fd5359;
    font-size:.5rem
}
body #wrap #front section div.coupon ul {
    border-top:.03rem solid #EFEFEF;
    border-bottom:.03rem solid #efefef
}
body #wrap #front section div.coupon ul li {
    height:1.17rem;
    line-height:1.17rem;
    background-color:#fff;
    padding:0 .5rem;
    overflow:hidden
}
body #wrap #front section div.coupon ul li:nth-child(1) {
    font-size:.4rem;
    border-bottom:.03rem solid #efefef
}
body #wrap #front section div.coupon ul li:nth-child(2) {
    font-size:.46875rem
}
body #wrap #front section div.coupon ul li p {
    color:#606470
}
body #wrap #front section div.coupon ul li p i {
    display:inline-block;
    padding:0 .1rem;
    height:.83rem;
    min-width:.83rem;
    line-height:.83rem;
    background-color:#fe9b20;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    border-radius:.1rem
}
body #wrap #front section div.coupon ul li p img {
    width:.4375rem;
    vertical-align:text-top;
    margin:0 .25rem
}
body #wrap #front section div.coupon ul li p em {
    float:right;
    color:#fe9b20
}
body #wrap #front section div.coupon ul li p em #coupon {
    font-size:.45333rem
}
body #wrap #front section div.coupon ul li p em #coupon-pay {
    font-size:.50333rem;
    font-weight:600
}
body #wrap #front section div.coupon ul li p:after {
    content:"";
    overflow:hidden;
    clear:both
}
body #wrap #front section div:after {
    content:"";
    overflow:hidden;
    clear:both
}
body #wrap #front section div>p {
    float:right
}
body #wrap #front section h3 {
    clear:both;
    position:relative;
    margin-top:.5rem;
    text-align:center;
    font-size:.4rem;
    color:#BCBCBC;
    font-weight:lighter
}
body #wrap #front section h3:before {
    content:"";
    background-color:#d8d8d8;
    display:block;
    height:.03rem;
    width:2.1875rem;
    position:absolute;
    top:50%;
    left:.625rem;
    z-index:1
}
body #wrap #front section h3:after {
    content:"";
    background-color:#d8d8d8;
    display:block;
    height:.03rem;
    width:2.1875rem;
    position:absolute;
    top:50%;
    right:.625rem;
    z-index:1
}
body #wrap #front section h3 span {
    position:relative;
    z-index:5;
    color:#bcbcbc
}
body #wrap #front footer {
    width:100%;
    position:absolute;
    bottom:0
}
body #wrap #front footer #keyBoard {
    width:100%;
    height:10.2rem;
    position:absolute;
    bottom:0;
    background-color:#fff;
    z-index:999;
    -webkit-transform:translateY(7.2rem);
    -moz-transform:translateY(7.2rem);
    -ms-transform:translateY(7.2rem);
    -o-transform:translateY(7.2rem);
    transform:translateY(7.2rem)
}
body #wrap #front footer #keyBoard i {
    display:inline-block;
    margin-left: -.1rem;
    width:25%;
    height:2.4rem;
    line-height:2.4rem;
    font-size:.853rem;
    color:#4E5057;
    text-align:center;
    border:.03rem solid #E5E5E5;
    border-left:none;
    border-bottom:none;
    transition:all .1s
}
body #wrap #front footer #keyBoard i b.iconfont{
	font-size: .6rem;
	line-height:2.6rem;
}
body #wrap #front footer #keyBoard i.no-right {
    border-right:none
}
body #wrap #front footer #keyBoard i.hover {
    background-color:#ebebeb
}
body #wrap #front footer #keyBoard i#pay {
    float:right;
    width: 100%;
    height:2rem;   
    line-height: 2.1rem;
    background-color:#bcbcbc;
    color:#fff;
    font-size:.6rem;
    border:none
}
body #wrap #front footer #keyBoard i#pay.active {
    background-color:#2db3e6
}
body #wrap #front footer #keyBoard li#pay.active.hover {
    background-color:#e27d00
}
body #wrap #front footer #keyBoard.show-trans {
    -webkit-transition:all linear .2s;
    -moz-transition:all linear .2s;
    -ms-transition:all linear .2s;
    -o-transition:all linear .2s;
    transition:all linear .2s
}
body #wrap #front footer #keyBoard.show {
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0)
}
body #wrap #back {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:9999;
    background-color:#f7f7f7;
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -ms-transform:translateY(100%);
    -o-transform:translateY(100%);
    transform:translateY(100%)
}
body #wrap #back.trans {
    -webkit-transition:all linear .3s;
    -moz-transition:all linear .3s;
    -ms-transition:all linear .3s;
    -o-transition:all linear .3s;
    transition:all linear .3s;
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0)
}
body #wrap #back header {
    height:3.125rem;
    padding:1rem 0;
    text-align:center
}
body #wrap #back h1 {
    font-family:Heiti SC, "微软雅黑", Verdana, sans-serif, SimHei, "黑体";
    font-size:1.125rem;
    color:#4e5057
}
body #wrap #back h1 em {
    font-size:.4375rem;
    color:#9b9b9b;
    text-decoration:line-through
}
body #wrap #back ul {
    border-top:.03rem solid #E5E5E5;
    border-bottom:.03rem solid #E5E5E5
}
body #wrap #back ul li {
    line-height:1.14rem;
    background-color:#fff;
    padding:0 .625rem;
    overflow:hidden
}
body #wrap #back ul li:last-child p {
    border-bottom:none
}
body #wrap #back ul li p {
    border-bottom:.03rem solid #EFEFEF;
    font-size:.46875rem;
    color:#606470;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
body #wrap #back ul li p i {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    white-space:nowrap;
    padding-right:.4rem
}
body #wrap #back ul li p em {
    float:right
}
body #wrap #back ul li p.discount {
    color:#fe9b20
}
body #wrap #back h3 {
    clear:both;
    position:relative;
    margin-top:1rem;
    text-align:center;
    font-size:.4rem;
    color:#BCBCBC;
    font-weight:lighter
}
body #wrap #back h3:before {
    content:"";
    background-color:#d8d8d8;
    display:block;
    height:.03rem;
    width:2.1875rem;
    position:absolute;
    top:50%;
    left:.625rem;
    z-index:1
}
body #wrap #back h3:after {
    content:"";
    background-color:#d8d8d8;
    display:block;
    height:.03rem;
    width:2.1875rem;
    position:absolute;
    top:50%;
    right:.625rem;
    z-index:1
}
body #wrap #back a {
    display:block;
    width:93.75%;
    margin:1.5625rem auto 0;
    border-radius:.125rem;
    background-color:#fe9b20;
    color:#fff;
    text-align:center;
    font-size:.5625rem;
    height:1.375rem;
    line-height:1.375rem
}
body #wrap #no-insert header {
    height:3.125rem;
    padding:1rem 0;
    text-align:center
}
body #wrap #no-insert h1 {
    font-family:Heiti SC, "微软雅黑", Verdana, sans-serif, SimHei, "黑体";
    font-size:1.125rem;
    color:#4e5057
}
body #wrap #no-insert h1 em {
    font-size:.4375rem;
    color:#9b9b9b;
    text-decoration:line-through
}
body #wrap #no-insert ul {
    border-top:.03rem solid #E5E5E5;
    border-bottom:.03rem solid #E5E5E5
}
body #wrap #no-insert ul li {
    line-height:1.14rem;
    background-color:#fff;
    padding:0 .625rem;
    overflow:hidden
}
body #wrap #no-insert ul li:last-child p {
    border-bottom:none
}
body #wrap #no-insert ul li p {
    border-bottom:.03rem solid #EFEFEF;
    font-size:.46875rem;
    color:#606470;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
body #wrap #no-insert ul li p i {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    white-space:nowrap;
    padding-right:.4rem
}
body #wrap #no-insert ul li p em {
    float:right
}
body #wrap #no-insert ul li p.discount {
    color:#fe9b20
}
body #wrap #no-insert h3 {
    clear:both;
    position:relative;
    margin-top:1rem;
    text-align:center;
    font-size:.4rem;
    color:#BCBCBC;
    font-weight:lighter
}
body #wrap #no-insert h3:before {
    content:"";
    background-color:#d8d8d8;
    display:block;
    height:.03rem;
    width:2.1875rem;
    position:absolute;
    top:50%;
    left:.625rem;
    z-index:1
}
body #wrap #no-insert h3:after {
    content:"";
    background-color:#d8d8d8;
    display:block;
    height:.03rem;
    width:2.1875rem;
    position:absolute;
    top:50%;
    right:.625rem;
    z-index:1
}
body #wrap #no-insert a {
    display:block;
    width:93.75%;
    margin:1.5625rem auto 0;
    border-radius:.125rem;
    background-color:#fe9b20;
    color:#fff;
    text-align:center;
    font-size:.5625rem;
    height:1.375rem;
    line-height:1.375rem
}
#loading {
    width:1rem;
    height:1rem;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-0.5rem;
    margin-top:-0.5rem;
    z-index:10;
    -webkit-transform-origin:50%;
    -moz-transform-origin:50%;
    transform-origin:50%;
    -webkit-animation:swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation:swiper-preloader-spin 1s steps(12, end) infinite;
    animation:swiper-preloader-spin 1s steps(12, end) infinite;
    display:none
}
#loading:after {
    display:block;
    content:"";
    width:100%;
    height:100%;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position:50%;
    -webkit-background-size:100%;
    background-size:100%;
    background-repeat:no-repeat
}
@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes swiper-preloader-spin {
    100% {
        transform:rotate(360deg)
    }
}
/*店铺简介*/
.summary{ background: #f4f5f9;}
.summary header{ background: #2b303d; padding: .5rem 0; text-align: center; color: #fff; font-size: 1.6rem;}
.summary section{ padding: 0 1rem; margin-top: 1rem}
.summary .swiper-slide { height: 24rem;    }
.summary .swiper-container { height: 24rem;}
.summary .swiper-slide img{ width: 100%; height: 24rem;}
.summary .title h2{ font-weight: normal;padding: 0 .5rem; border-left: .3rem solid #fe9a06; }
.summary .title .link{ display: block; font-size: 1.2rem; border-radius: .5rem;  margin-top: 2rem; color: #fff; text-align: center;  padding: .8rem 0; background: #fd7f2f !important; }
.summary .title .link i.iconfont{ font-size: 1.6rem;}
.summary .warp{ padding: 0 .5rem; font-size: 1.2rem; color: #6f6f6f; line-height: 1.6rem;}
.summary .shop-icon{ width: 7rem; height: 7rem; border-radius: 50%; background: #c0e5ff; text-align: center; line-height: 7rem; margin: 6rem auto 0;}
.summary .shop-icon .iconfont{ font-size: 3rem; color: #fff;}
.summary .not{ display: block; margin: 1rem auto 0; text-align: center; font-size: 1.2rem;}
.summary .bgwhite { background: #fff;    }
* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
