@{
    Layout = null;
    bool IsAjax = Request.QueryString["IsAjax"] != null ? true : false;
    SysSet BasicSet = ViewBag.BasicSet;
    SysAgent SysAgent = ViewBag.SysAgent;
    string cardbg = "/Content/Base/Images/Card.png";
    if (!SysAgent.Id.IsNullOrEmpty())
    {
        cardbg = Utils.ImageUrl("SysAgent/" + SysAgent.Id, SysAgent.CradBg);
    }
    string HostName = Utils.GetHostName();
}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>@(BasicSet.Name)VIP卡</title>
<style>
    body{width: 634px;height: 465px; overflow:hidden;margin: auto;
         @if(!IsAjax) {
            @:margin-top:120px;
        }
    }
    .dabox {
        width: 634px;
        height: 392px;
        background: url(@(cardbg)) no-repeat center center;
        background-size: 634px auto;
        margin: auto;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }
.dabox .ddzz { overflow:hidden; width:336px; margin:0 auto; position:absolute; bottom:-75px; width:634px; height:65px; text-align:center;}
.dabox .ddzz p{height:25px; line-height:25px; padding:0;margin:0; font-size:12px; color:#F00;}
.dabox .ddzz .ljdz { width:420px; height:30px; line-height:30px; outline:medium; border:#666 solid 1px;}
.dabox .ddzz .fzan { width:80px; height:34px; line-height:30px; margin-left:15px; }
.dabox .zckh { width:165px; height:28px; border:0; position:absolute; top:309px; left:98px; font-size:26px; color:#d09e05;line-height:28px;letter-spacing:2px;text-shadow:#999 1px 1px 1px;}
.dabox .zckmm { width:165px; height:28px; border:0; position:absolute; top:336px; left:98px; font-size:26px; color:#d09e05;line-height:28px;letter-spacing:2px;text-shadow:#999 1px 1px 1px;}
</style>
</head>
<body>
<div class="dabox">
  @if(IsAjax){
  <div class="ddzz">
    <input id="TextBox" class="ljdz" type="text" value="http://@(HostName)/card?en=@(ViewBag.En)" readonly />
    <input id="CopyBtn" class="fzan" type="button" value="复制链接" />
    <p>可直接复制本链接发送给您的客户~</p>
  </div>
  }
  <input type="text" class="zckh" value="@(ViewBag.Card)" readOnly="true" />
  <input type="text" class="zckmm" value="@(ViewBag.PWD)" readOnly="true" />
</div>
    <script src="/Content/Metronic/plugins/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/Content/Base/Images/ZeroClipboard.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#TextBox").hover(function () {
                $(this).select();
            });
            ZeroClipboard.setMoviePath('/Content/Base/Images/ZeroClipboard.swf');
            var clip = new ZeroClipboard.Client(); // 新建一个对象
            clip.setHandCursor(true);
            clip.setText($('#TextBox').val()); // 设置要复制的文本。
            clip.addEventListener("mouseUp", function (client) {
                alert("复制推广链接成功！");
            });
            // 注册一个 button，参数为 id。点击这个 button 就会复制。
            //这个 button 不一定要求是一个 input 按钮，也可以是其他 DOM 元素。
            clip.glue("CopyBtn"); // 和上一句位置不可调换
        });
    </script>
</body>
</html>
