
@{
    ViewBag.Title = "Gifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container panel panel-default" style="margin-top:10px;">
    <img src="~/images/普洱茶.png" class="img-responsive" style="width:100%;" />
    <div class="col-lg-12 col-sm-12 panel-body">
        <div class="pricing-table most-popular">
            <div class="pricing-head">
                <h4> 古韵典藏版普洱 </h4>
            </div>
            <div class="pricing-quote">
                <p>
                    原价：￥398.00
                </p>
                <p>VIP用户专享价：￥0.00</p>
                <p>物流费：￥20.00</p>
                <p><a href="https://mp.weixin.qq.com/s/latm6ZXn2Hi6yCy8oWKa5Q">商品详情介绍（点击）</a></p>
            </div>

            <div class="price-actions">
                <a href="OrderInfo"><input type="button" class="btn btn-info" value="填写订单"></a>
            </div>
        </div>
    </div>
</div>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#nav_all li").removeClass("active");
        $("#nav_all").children("li").eq(0).addClass("active");
    });
</script>

