@{
    IList<UserMaillist> UserMaillist = ViewBag.UserMaillist;
    this.Layout = null;
}
<table class="table table-striped table-bordered table-hover tablethc" id="UserMaillist">
    <thead>
        <tr>
            <th>用户姓名 </th>
            <th>手机号 </th>
            <th>添加时间 </th>
            <th>更新时间 </th>
            <th>状态 </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in UserMaillist)
        {
        <tr class="odd gradeX">
            <td class="center">@(p.UserName)</td>
            <td class="center">@(p.Mobile) </td>
            <td class="center">@(p.AddTime) </td>
            <td class="center">@(p.UpTime) </td>
            <td class="center"> 
                @if (p.State == 1)
                {
                    <i class="fa fa-check color-green"></i>
                }
                else
                {
                    <i class="fa fa-times color-red"></i>
                } 
            </td>
        </tr>
        }
    </tbody>
</table>
