@{
    //SysAdmin SysAdmin = ViewBag.AdminUser;
}
<div class=" clearfix">
    <div class="ifarm-index clearfix">
    <div class="main-content information">
		<div class="proxy-top inform">
				<ul class="list-unstyled inform-porp">
					<li>商户调入功能只可调入已经被实名认证入网的商户，被认证入网的商户需已经绑定提现银行卡，未绑定银行卡及未实名认证的商户不可被调入，代理商捆绑分润的结算商户不可被调入！<i class="iconfont text-blue"></i></li>
				</ul>
				<hr>
			</div>	
	    <div class="proxy-con inquiry-cont">
		    <form action="UsersMove.html" id="chkForm" name="chkForm" class="form-horizontal chkForm" enctype="multipart/form-data" method="post">
                <ul class="list-unstyled inform-list">
				    <li>
					    <span class="left-span"> 手机号 </span> 
                        <input class="input-max validate[required,custom[mobile]]" type="text" name="UserName" id="UserName" /> 
				    </li>
				    <li>
					    <span class="left-span"> 姓名 </span> 
                        <input class="input-max validate[required]" type="text" name="TrueName" id="TrueName" /> 
				    </li>
				    <li>
					    <span class="left-span"> 身份证号 </span> 
                        <input class="input-max validate[required,custom[chinaId]]" type="text" name="CardId" id="CardId" /> 
				    </li>
				    <li>
					    <span class="left-span"> 银行卡号</span>
                        <input class="input-max validate[required]" type="text" name="CardNum" id="CardNum" />
                        <p><b class="text-warning">*指商户绑定的其中一张提现借记卡</b></p>
				    </li>
			    </ul>
			    <br>
			    <div class="text-center"><button type="submit" class="sub">确认调入</button></div>
		    </form>
	    </div>
    </div>
    </div>
</div>
@section FooterScripts
{
    <link href="/Content/HaoFu/plugins/ValidationEngine/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
    <script src="/Content/HaoFu/plugins/ValidationEngine/js/jquery.validationEngine.min.js"></script>
    <script src="/Content/HaoFu/plugins/ValidationEngine/js/jquery.validationEngine-zh_CN.js?201604251426"></script>
}