@using LokFu.Repositories.SqlServer;
@{
    Layout = null;
    string Agreement = ViewBag.Agreement;
    LokFuEntity Entity = ViewBag.Entity;
    //if (this.Request["abcd"] == "ok")
    //{
    //    string tnums = "20171227_03_0051267328,20171227_03_0051266489,20171227_03_0051260328,20171227_03_0051253684,20171227_03_0051252770,20171227_03_0051248943,20171227_03_0051248328,20171227_03_0051240449,20171227_03_0051239508,20171227_03_0051236545,20171227_03_0051236221,20171227_03_0051235451,20171227_03_0051231836,20171227_03_0051229881,20171227_03_0051227067,20171227_03_0051225287,20171227_03_0051223755,20171227_03_0051222810,20171227_03_0051221361,20171227_03_0051219919,20171227_03_0051219482,20171227_03_0051215125,20171227_03_0051212849,20171227_03_0051211170,20171227_03_0051209657,20171227_03_0051209388,20171227_03_0051199704,20171227_03_0051199312,20171227_03_0051194500,20171227_03_0051192929,20171227_03_0051192001,20171227_03_0051183687,20171227_03_0051174044,20171227_03_0051170082,20171227_03_0051163790,20171227_03_0051158068,20171227_03_0051135454,20171227_03_0051135345,20171227_03_0051134120,20171227_03_0051133518,20171227_03_0051130542,20171227_03_0051128429,20171227_03_0051125636,20171227_03_0051125253,20171227_03_0051123688,20171227_03_0051119032,20171227_03_0051118977,20171227_03_0051104989,20171227_03_0051101582,20171227_03_0051095667,20171227_03_0051094988,20171227_03_0051091232,20171227_03_0051089915,20171227_03_0051084380,20171227_03_0051080053,20171227_03_0051077065,20171227_03_0051075424,20171227_03_0051074425,20171227_03_0051072995,20171227_03_0051071577,20171227_03_0051071128,20171227_03_0051068240,20171227_03_0051063906,20171227_03_0051059190,20171227_03_0051056216,20171227_03_0051052425,20171227_03_0051050524,20171227_03_0051049795,20171227_03_0051044688,20171227_03_0051041621,20171227_03_0051038692,20171227_03_0051036738,20171227_03_0051036361,20171227_03_0051031554,20171227_03_0051030406,20171227_03_0051025730,20171227_03_0051019442,20171227_03_0051011519,20171227_03_0051010195,20171227_03_0051007316,20171227_03_0051007145,20171227_03_0050997575,20171227_03_0050995575,20171227_03_0050994124,20171227_03_0050989430,20171227_03_0050969266,20171227_03_0050966592,20171227_03_0050957545,20171227_03_0050952732,20171227_03_0050952283,20171227_03_0050951897,20171227_03_0050951301,20171227_03_0050949926,20171227_03_0050944829,20171227_03_0050942190,20171227_03_0050940908,20171227_03_0050940796,20171227_03_0050938693,20171227_03_0050929035,20171227_03_0050927185,20171227_03_0050925597,20171227_03_0050923465,20171227_03_0050921295,20171227_03_0050903131,20171227_03_0050902872,20171227_03_0050897801,20171227_03_0050891965,20171227_03_0050889626,20171227_03_0050889312,20171227_03_0050885386,20171227_03_0050878391,20171227_03_0050877343,20171227_03_0050792289,20171227_03_0050789416,20171227_03_0050743498,20171227_03_0050738888,20171227_03_0050728514,20171227_03_0050727898,20171227_03_0050724623";
    //    string[] tnumArr = tnums.Split(',');
    //    foreach (var tnum in tnumArr)
    //    {
    //        IList<UserLog> List = Entity.UserLog.Where(n => n.OId == tnum).ToList();//按分润记录退佣金
    //        foreach (var p in List)
    //        {
    //            //帐户变动记录
    //            string SP_Ret = Entity.SP_UsersMoney(p.UId, tnum, p.Amount, 12, "分润异常退单", 0);
    //            if (SP_Ret != "3")
    //            {
    //                Utils.WriteLog(string.Format("U{0},O{1},T{2}:{3}【{4}】", p.UId, tnum, 12, p.Amount, SP_Ret), "SP_UsersMoney12");
    //            }
    //        }
    //    }
    //}
    //if (this.Request["tuisong"] == "send")
    //{
    //    string tnums = "20171228_03_0053004177,20171228_03_0053005355,20171228_03_0053005595,20171228_03_0053180899,20171228_03_0053181061,20171228_03_0053182465,20171228_03_0053182726,20171228_03_0053185725,20171228_03_0053187254,20171228_03_0053189192,20171228_03_0053192256,20171228_03_0053194239,20171228_03_0053194939,20171228_03_0053196373,20171228_03_0053196729,20171228_03_0053198542,20171228_03_0053199319,20171228_03_0053199521,20171228_03_0053200564,20171228_03_0053200632,20171228_03_0053201797,20171228_03_0053202381,20171228_03_0053204798,20171228_03_0053205017,20171228_03_0053205917,20171228_03_0053207114,20171228_03_0053208219,20171228_03_0053208502,20171228_03_0053208980,20171228_03_0053210160,20171228_03_0053211257,20171228_03_0053216712,20171228_03_0053217945,20171228_03_0053218400,20171228_03_0053219184,20171228_03_0053219404,20171228_03_0053220390,20171228_03_0053221005,20171228_03_0053224500,20171228_03_0053225735,20171228_03_0053227960,20171228_03_0053228721,20171228_03_0053233112,20171228_03_0053233968,20171228_03_0053239094,20171228_03_0053239891,20171228_03_0053242889,20171228_03_0053244635,20171228_03_0053244824,20171228_03_0053245182,20171228_03_0053247470,20171228_03_0053248545,20171228_03_0053249463,20171228_03_0053249627,20171228_03_0053249780,20171228_03_0053250769,20171228_03_0053250955,20171228_03_0053251390,20171228_03_0053251938,20171228_03_0053253523,20171228_03_0053258024,20171228_03_0053259191,20171228_03_0053259633,20171228_03_0053262140,20171228_03_0053263004,20171228_03_0053263396,20171228_03_0053265550,20171228_03_0053265709,20171229_03_0053308968,20171229_03_0053309695,20171229_03_0053311621,20171229_03_0053312348,20171229_03_0053312545,20171229_03_0053315722,20171229_03_0053320775,20171229_03_0053322162,20171229_03_0053326026,20171229_03_0053326190,20171229_03_0053327568,20171229_03_0053327669,20171229_03_0053327805,20171229_03_0053328001,20171229_03_0053328234,20171229_03_0053328663,20171229_03_0053329048,20171229_03_0053330585,20171229_03_0053330755,20171229_03_0053331141,20171229_03_0053332058,20171229_03_0053333782,20171229_03_0053335099,20171229_03_0053337316,20171229_03_0053338364,20171229_03_0053339227,20171229_03_0053341826,20171229_03_0053344460,20171229_03_0053350712,20171229_03_0053354176,20171229_03_0053364063,20171229_03_0053366938,20171229_03_0053373460,20171229_03_0053374199,20171229_03_0053391143,20171229_03_0053395980,20171229_03_0053404225,20171229_03_0053409496,20171229_03_0053410721,20171229_03_0053434866,20171229_03_0053449509,20171229_03_0053477598,20171229_03_0053478589,20171229_03_0053480674,20171229_03_0053483934,20171229_03_0053489960,20171229_03_0053501754,20171229_03_0053507681,20171229_03_0053512621,20171229_03_0053513319,20171229_03_0053518342,20171229_03_0053520169,20171229_03_0053521139,20171229_03_0053524907,20171229_03_0053525833,20171229_03_0053527672,20171229_03_0053539936,20171229_03_0053544468,20171229_03_0053547079,20171229_03_0053547339,20171229_03_0053550395,20171229_03_0053566919,20171229_03_0053575962,20171229_03_0053576460,20171229_03_0053580095,20171229_03_0053592556,20171229_03_0053602540,20171229_03_0053602956,20171229_03_0053606972,20171229_03_0053609703,20171229_03_0053613695,20171229_03_0053616985,20171229_03_0053639798,20171229_03_0053666417,20171229_03_0053677447,20171229_03_0053688181,20171229_03_0053696244,20171229_03_0053712559,20171229_03_0053713716,20171229_03_0053718385,20171229_03_0053722137,20171229_03_0053723268,20171229_03_0053729546,20171229_03_0053734429,20171229_03_0053740081,20171229_03_0053747296,20171229_03_0053747419,20171229_03_0053749085,20171229_03_0053751715,20171229_03_0053759802,20171229_03_0053777198,20171229_03_0053781397,20171229_03_0053784426,20171229_03_0053788739,20171229_03_0053795066,20171229_03_0053796195,20171229_03_0053796964,20171229_03_0053800649,20171229_03_0053805406,20171229_03_0053816704,20171229_03_0053842243,20171229_03_0053846204,20171229_03_0053849826,20171229_03_0053855120,20171229_03_0053864208,20171229_03_0053866701,20171229_03_0053867319,20171229_03_0053876900,20171229_03_0053884543,20171229_03_0053893445,20171229_03_0053897435,20171229_03_0053905625,20171229_03_0053909300,20171229_03_0053910160,20171229_03_0053910444,20171229_03_0053912095,20171229_03_0053912497,20171229_03_0053914959,20171229_03_0053915704,20171229_03_0053916082,20171229_03_0053918390,20171229_03_0053922321,20171229_03_0053923526,20171229_03_0053924541,20171229_03_0053934897,20171229_03_0053936713,20171229_03_0053942327,20171229_03_0053942884,20171229_03_0053944677,20171229_03_0053946704,20171229_03_0053948957,20171229_03_0053954051,20171229_03_0053954846,20171229_03_0053956433,20171229_03_0053961879,20171229_03_0053965495,20171229_03_0053967264,20171229_03_0053969378,20171229_03_0053969697,20171229_03_0053976795,20171229_03_0053977836,20171229_03_0053982729,20171229_03_0053984050,20171229_03_0053984850,20171229_03_0053986926,20171229_03_0053987557,20171229_03_0053989548,20171229_03_0053990668,20171229_03_0053991732,20171229_03_0053998652,20171229_03_0054008351,20171229_03_0054009550,20171229_03_0054013329,20171229_03_0054016250,20171229_03_0054016330,20171229_03_0054019005,20171229_03_0054027111,20171229_03_0054028603,20171229_03_0054030906,20171229_03_0054033246,20171229_03_0054033810,20171229_03_0054033926,20171229_03_0054034458,20171229_03_0054037798,20171229_03_0054038094,20171229_03_0054039437,20171229_03_0054040392,20171229_03_0054041028,20171229_03_0054041442,20171229_03_0054045325,20171229_03_0054045660,20171229_03_0054048391,20171229_03_0054052561,20171229_03_0054052632,20171229_03_0054053139,20171229_03_0054054351,20171229_03_0054055073,20171229_03_0054057446,20171229_03_0054061084,20171229_03_0054063896,20171229_03_0054064371,20171229_03_0054070169,20171229_03_0054071083,20171229_03_0054071830,20171229_03_0054073251,20171229_03_0054075570,20171229_03_0054076418,20171229_03_0054076891,20171229_03_0054076975,20171229_03_0054081465,20171229_03_0054083883,20171229_03_0054085706,20171229_03_0054087790,20171229_03_0054088636,20171229_03_0054089235,20171229_03_0054091361,20171229_03_0054091589,20171229_03_0054091652,20171229_03_0054094109,20171229_03_0054094644,20171229_03_0054098847,20171229_03_0054098939,20171229_03_0054099014,20171229_03_0054099507,20171229_03_0054100240,20171229_03_0054100558,20171229_03_0054100704,20171229_03_0054102302,20171229_03_0054102992,20171229_03_0054103431,20171229_03_0054104820,20171229_03_0054105047";
    //    var tnumsArr = tnums.Split(',');
    //    var FastOrders = Entity.FastOrder.Where(o => tnumsArr.Contains(o.TNum)).ToList();
    //    string Msg = "您好！很高兴您使用我司APP，非常感谢您对我司的信任与支持！您的交易{0}，因系统渠道原因，交易结算存在差额2元，我们将在2-3个工作日内重新结算差额到您的结算银行卡，请注意查收。";
        
    //    //站内信
    //    foreach (var item in FastOrders)
    //    {
    //        string sendUsers = "";
    //        MsgUser MsgUser = new MsgUser();
    //        MsgUser.UId = item.UId;
    //        MsgUser.PId = 0;
    //        MsgUser.SendUsers = !string.IsNullOrWhiteSpace(sendUsers) ? "," + sendUsers : sendUsers;
    //        MsgUser.AddTime = DateTime.Now;
    //        MsgUser.ReadUsers = string.Empty;
    //        MsgUser.DeleteUsers = string.Empty;
    //        MsgUser.Name = "补结算差额通知";
    //        MsgUser.State = 1;
    //        MsgUser.Info = string.Format(Msg,item.TNum);
    //        Entity.MsgUser.AddObject(MsgUser);
    //        Entity.SaveChanges();
    //        if (MsgUser.UId!=0)
    //        {
    //            MsgUser.PushMsg(Entity);
    //        }
    //    }
        
    //}
}
<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="MobileOptimized" content="240">
    <title>用户协议</title>
    <link href="/Content/Mobile/css/op.css" rel="stylesheet" type="text/css" />
    <script src="/Content/Metronic/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
</head>
<body>
    <div style="padding:1rem;">@Html.Raw(Agreement)</div>
</body>
</html>

