<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="LokFuEntity" connectionString="metadata=res://*/Repositories.LokFu.csdl|res://*/Repositories.LokFu.ssdl|res://*/Repositories.LokFu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pc20.12fen.com.cn;initial catalog=YiKaLianMeng;persist security info=True;user id=YiKaLianMeng;password=s#Oo0O9g9g910oOo~;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--批量出款任务-->
    <add key="RunOutMoney" value="true" />
    <add key="TimeOutMoney" value="0 */3 * * * ?" />
    <!--批量出款推送-->
    <add key="RunOutMoneyPush" value="true" />
    <add key="TimeOutMoneyPush" value="5 */5 * * * ?" />
    <!--余额计息服务-->
    <add key="RunBaoTask" value="true" />
    <add key="TimeBaoTask" value="0 0 23 ? * *" />
    <!--自动T1提现-->
    <add key="RunAutoCash" value="true" />
    <add key="TimeAutoCash" value="0 0 22 ? * *" />
    <!--Tn自动解冻-->
    <add key="RunTnInMoney" value="true" />
    <add key="TimeTnInMoney" value="33 3/10 1-22 ? * *" />
    <!--交易分润-->
    <add key="RunOrderProfit" value="true" />
    <add key="TimeOrderProfit" value="3/10 * * * * ?" />
    <!--收付直通车——出款-->
    <add key="RunFastCash" value="true" />
    <add key="TimeFastCash" value="13/60 * 9-21 * * ?" />
    <!--收付直通车——出款查询-->
    <add key="RunFastQuery" value="true" />
    <add key="TimeFastQuery" value="19/60 * * * * ?" />
    <!--收付直通车——商户查询-->
    <add key="RunFastMer" value="true" />
    <add key="TimeFastMer" value="1/10 * * * * ?" />
    <!--收付直通车——分润-->
    <add key="RunFastProfit" value="true" />
    <add key="TimeFastProfit" value="7/10 * * * * ?" />
    <!--信用卡还款——代付查询-->
    <add key="RunJCashQuery" value="true" />
    <add key="TimeJCashQuery" value="13 1/5 * * * ?" />
    <!--信用卡还款——代付-->
    <add key="RunJCashRun" value="true" />
    <add key="TimeJCashRun" value="3/60 * 8-23 * * ?" />
    <!--信用卡还款——交易查询-->
    <add key="RunJPayQuery" value="true" />
    <add key="TimeJPayQuery" value="13 2/5 8-20 * * ?" />
    <!--信用卡还款——交易-->
    <add key="RunJPayRun" value="true" />
    <add key="TimeJPayRun" value="3/60 * 8-19 * * ?" />
    <!--信用卡还款——分润-->
    <add key="RunJSplitMoney" value="true" />
    <add key="TimeJSplitMoney" value="53/60 * 20-23 * * ?" />
    <add key="BaoTime" value="23" />
    <add key="NoticePath" value="http://pay.slyklm.com" />
    <add key="PayPath" value="http://pay.slyklm.com" />
    <add key="Cash_merId" value="89908507" />
    <add key="Cash_merKey" value="1284b196b5dae3573cfaba4d9c5de50c" />
    <add key="pushAppId" value="" />
    <add key="pushAppSecret" value="" />
    <add key="pushOnLine" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>