@{
    IList<MsgNotice> MsgNoticeList = ViewBag.MsgNoticeList;
    ViewBag.SMUid = 154;
    ViewBag.Title = "查看公告";
    SysAdmin Admin = ViewBag.AdminUser;
    string AdminId = string.Format("|{0}|", Admin.Id);
}
<body class="index inquiry order">
    <div class="main-content clearfix">
	<div class="ifarm-index">
	<div class="inquiry-cont"></div>
	<div class="list-table">
		<table style="width:100%">
			<thead>
                <th width="70%">标题 </th>
                <th width="10%">阅读 </th>
                <th width="20%">发布时间 </th>
			</thead>
			<tbody>
                @foreach (var p in MsgNoticeList)
                {
                    bool IsNew = (p.ReadAdmin.IndexOf(AdminId) == -1 ? true : false);
                    <tr class="odd gradeX">
                        <td style="text-align:left"><a href="/Agent/My/NoticeInfo.html?Id=@(p.Id)" class="Ajax" title="业务公告">@(p.Name)</a></td>
                        <td class="center">@if (IsNew)
                        {
                            <i class="fa fa-envelope color-yellow">新</i>
                        }else{
                            <i class="fa fa-envelope-o">阅</i>
                        } </td>
                        <td class="center">@(p.AddTime.ToString("yyyy-MM-dd HH:mm")) </td>
                    </tr>
                }
			</tbody>
		</table>
        @Html.Partial("~/Areas/Agent/Views/Shared/NewPage.cshtml", MsgNoticeList)
	</div>
    </div>
    </div>
</body>